:root {
    --glam-silver: #8A8D8F; 
    --reborn-beige: #FFBE98;
    --midnight-blue: #325B74;
    --bubble-gum-pink: #E8B4C2;
    --tangerine-orange: #FF7913;
    --ebony-black: #080402;
    }
    
.navbar {
background-color: var(--ebony-black);
}

.navbar-brand, .nav-link{
    color: var(--reborn-beige);
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--bubble-gum-pink);
}

.navbar-toggler {
    background-color: var(--reborn-beige);
    opacity: 50%;
}

body {
background-color: var(--ebony-black);
text-align: center;
margin-bottom: 3rem;
}

.icon {
    color: var(--reborn-beige);
}

h1 {
    font-size: 2.5em;
    color: var(--bubble-gum-pink);
    margin: 5rem 15rem 1rem;
    text-align: left;
}

h2 {
    font-size: 8.5em;
    color: var(--glam-silver);
    margin: 0 auto 1rem;
    text-align: center;
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-shadow: 6px 6px var(--midnight-blue);
}


h3 {
    font-size: 2.5em;
    color: var(--bubble-gum-pink);
    margin: 0 15rem 7.5rem;
    text-align: right;
}

.contact-link {
text-decoration: none;
color: var(--bubble-gum-pink);
font-size: 1.5em;
padding: 0.5em;
border: 1px solid var(--reborn-beige);
}

.contact-link:hover {
    color: var(--reborn-beige);
}

.projects {
    margin: 5em 5em;
    padding: 4em;
}

.app-descr {
    max-width: 400px;
    min-width: 250px;
    height: auto;
    margin: auto;
}

h4 {
    padding: 1rem;
    font-size:2em;
    font-weight: 300; 
    margin: 0 auto 5rem;
    color: var(--reborn-beige);
    text-decoration: underline;
}

.weather-app-img {
    max-width: 400px;
    min-width: 250px;
    height: auto;
    margin: auto;
}

h5 {
    font-size: 1.5rem;
    font-family: "Merienda", cursive;
    font-weight: 400;
    color: var(--bubble-gum-pink);
}

.project-description {
    font-size: 1.2rem;
    color: var(--glam-silver);
}

.skills {
    text-align: center;
    color: var(--bubble-gum-pink);
}

img {
    transition: 1s;
}

img:hover {
    box-shadow: 0 0 20px var(--reborn-beige);
    transition: 1s;
}

