:root {
    --glam-silver: #83CCD2; 
    --reborn-beige: #B2EAD3;
    --midnight-blue: #E8B7CA;
    --bubble-gum-pink: #FDFFB6;
    --tangerine-orange: #F5F4D6;
    --ebony-black: #000;

    /*
    --glam-silver: #75b162; 
    --reborn-beige: #b9ff49;
    --midnight-blue: #179b0b;
    --bubble-gum-pink: #c0ffb8;
    --tangerine-orange: #b8ff47;
    */
   
    --glam-silver-bg: #83ccd21e;
    }

 /* * {
    box-sizing: border-box;
    background-color: rgba(31, 112, 20, 0.274) !important;
} */
    
.navbar {
    background-color: var(--ebony-black);
}

.navbar-brand, .nav-link{
    color: var(--reborn-beige);
    font-family: "Bungee Shade", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.2em;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--bubble-gum-pink);
}

.navbar-toggler {
    background-color: var(--reborn-beige);
    opacity: 80%;
}

body {
    background-color: var(--ebony-black);
    text-align: center;
    margin-bottom: 3em;
    font-family: "Unica One", serif;
    letter-spacing: 0.025rem;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: var(--reborn-beige);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--ebony-black);
    padding: 1em;
}

main {
    overflow: hidden;
    margin: auto;
}

.icon {
    color: var(--midnight-blue);
}

h1 .icon {
    box-shadow: -10px -10px 0 -5px var(--tangerine-orange);
    padding: 0.75em 0 0 0.75em;
}

h1 {
    font-family: "Unica One", serif;
    font-size: 2.5em;
    color: var(--bubble-gum-pink);
    margin: 10rem 15rem 1rem;
    text-align: left;
}

h2 {
    font-family: "Bungee Shade", sans-serif;
    font-size: 8.5em;
    color: var(--reborn-beige);
    margin: 0 auto 1rem;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.025em;
    /*text-shadow: 6px 6px var(--midnight-blue);*/
}

h3 {
    font-family: "Unica One", serif;
    font-size: 2.5em;
    color: var(--bubble-gum-pink);
    width: fit-content;
    text-align: right;
    justify-self: end;
    box-shadow: 7px 7px var(--tangerine-orange);
    margin: 1em 6em 2em 0;
    padding: 0 1em 1em 0;
}

.contact-link, .about-link {
    text-decoration: none;
    color: var(--bubble-gum-pink);
    font-size: 1.5em;
    padding: 0.5em;
    margin: 3em 1em 0;
    border: 1px solid var(--reborn-beige);
    display: inline-block;
    width: 6.5em;
}

.contact-link:hover, .about-link:hover {
    color: var(--reborn-beige);
}

.projects-section, .about-section, .contact-section {
    margin: 5em 5em;
    padding: 4em;
}

.projects {
    margin: auto;
    display: grid;
    justify-content: space-evenly;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "p1 p2 p3 p4";
    max-width: 1440px;
}

.project-1, .project-2, .project-3, .project-4 {
    /*background-color: var(--glam-silver-bg);*/
    box-shadow: 0 0 25px var(--glam-silver-bg);
}

.app-descr {
    max-width: 350px;
    min-width: 250px;
    margin: 0.5em;
    text-align: center;
}

.project-description {
    text-align:justify;
}

h4 {
    padding: 1rem;
    font-family: "Bungee Shade", sans-serif;
    font-size:3em;
    font-weight: 100; 
    margin: 0 auto 5rem;
    color: var(--glam-silver);
}

.project-1 {
    grid-area: p1;
    width: fit-content;
}

.weather-app-img {
    max-width: 350px;
    min-width: 250px;
    height: 14em;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
    overflow: hidden;
}

.project-2 {
    grid-area: p2;
    width: fit-content;
}

.mortgage-cal-img {
    max-width: 350px;
    min-width: 250px;
    height: 13em;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
    overflow: hidden;
}

.project-3 {
    grid-area: p3;
    width: fit-content;
}

.dessert-shopping-cart-img {
    max-width: 350px;
    min-width: 250px;
    height: 14em;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
    overflow: hidden;
}

.project-4 {
    grid-area: p4;
    width: fit-content;
}

.bento-display-img {
    max-width: 350px;
    min-width: 250px;
    height: 14em;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
    overflow: hidden;
}

h5 {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: var(--tangerine-orange);
    font-family: "Unica One", serif;
}

.skills {
    font-family: "Unica One", serif;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--tangerine-orange);
    font-weight: 500;
    font-size: 1.25rem;
}

.project-description, .about-description, .contact-description {
    font-size: 1.2rem;
    color: var(--bubble-gum-pink);
}

.about-section h4 {
    width: fit-content;
    box-shadow: 10px -10px 0 -5px var(--tangerine-orange);
    padding: 1em 1em 0;
    margin-top: -1em;
}

.about-description strong {
    color: var(--tangerine-orange);
    font-family: "Unica One", serif;
    font-weight: 500;
    font-size: 2.1rem;
}

.about-description span {
    margin: -2em;
    padding: 2em;
    box-shadow: -10px 10px 0 -5px var(--tangerine-orange);
}

.email-btn {
    text-decoration: none;
    color: var(--bubble-gum-pink);
    font-size: 1.5em;
    padding: 0.5em;
    margin: 1.5em;
    border: 1px solid var(--reborn-beige);
    display: inline-block;
    width: 12em;
    }
    
    .email-btn:hover {
        color: var(--reborn-beige);
    }
    
    .icon:hover {
        color: var(--tangerine-orange);
    }

    .contact-section h4 span {
        justify-self: center;
        width: fit-content;
        padding: 1em 0 0 2em;
        margin: -1em 0 0 -2em;
        box-shadow: -10px -10px 0 -5px var(--tangerine-orange);
    }

    .end-icon {
        box-shadow: 10px 10px 0 -5px var(--tangerine-orange);
        
    }

    .footer-link {
        opacity: 0.8;
        color: var(--bubble-gum-pink);
    }

    .footer-link:hover {
        color: var(--reborn-beige);
    }

    footer p {
        margin: 2em 4em;
    }

    article {
        justify-content: center;
        align-items: center;
    }

@media screen and (max-width: 350px) {
    body {
        margin-bottom: 0;
    }
     
    .navbar-brand {
        font-size: 1em;
    }

    .navbar-toggler {
        width: 1.8em;
        height: 1.4em;
        padding: 0;
        border-radius: 0.01;
    }

    h1 .icon {
        box-shadow: -10px -10px 0 -7px var(--tangerine-orange);
    }

    h1 {
        font-size: 1.3rem;
        margin: 3em 2em 1em;
    }
    
    h2 {
        font-size: 3rem;
        margin: 0 0.5em 1em;
    }

    h3 {
        font-size: 1.3rem;
        margin: -0.5em 1em 3.5em;
        box-shadow: 10px 10px 0 -7px var(--tangerine-orange);
        margin-bottom: 0;
    }

    .contact-link, .about-link {
        font-size: 1rem;
        padding: 0.3em;
        }
        
        
    .projects-section, .about-section, .contact-section {
        margin: 1em;
        padding: 1em;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .project-1, .project-2, .project-3, .project-4 {
        background-color: unset;
        border: 2px solid var(--bubble-gum-pink);
    }
        
    h4 {
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto 4rem;
    }
        
    h5 {
        font-size: 1rem;
    }

    .project-description, .about-description, .contact-description, .skills {
        font-size: 1rem;
    }

    .about-section h4 {
        box-shadow: 10px -10px 0 -7px var(--tangerine-orange);
    }

    .about-description span {
        padding-bottom: 3em;
        box-shadow: -10px 10px 0 -7px var(--tangerine-orange);
    }

    .contact-section h4 span {
        box-shadow: -10px -10px 0 -7px var(--tangerine-orange);
    }

    .end-icon {
        box-shadow: 10px 10px 0 -7px var(--tangerine-orange);
        
    }

    .email-btn {
        font-size: 1rem;
        padding: 0.5rem;
    }

    footer p {
        margin-top: 2em;
    }

    footer {
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 1em;
    }
}


@media screen and (min-width: 350px) and (max-width: 567px) {     
    body {
        margin-bottom: 0;
    }

    .navbar-brand {
        font-size: 1em;
    }

    .navbar-toggler {
        width: 1.8em;
        height: 1.4em;
        padding: 0;
        border-radius: 0.01;
    }

    h1 .icon {
        box-shadow: -10px -10px 0 -7px var(--tangerine-orange);
    }

    h1 {
        font-size: 1.3rem;
        margin: 4em 3em 1em;
    }
    
    h2 {
        font-size: 3rem;
        margin: 0 0.5em 1em;
    }

    h3 {
        font-size: 1.3rem;
        margin: -0.5em 3em 3.5em;
        box-shadow: 10px 10px 0 -7px var(--tangerine-orange);
        margin-bottom: 0;
    }

    .contact-link, .about-link {
        font-size: 1rem;
        padding: 0.3em;
        }
        
        
    .projects-section, .about-section, .contact-section {
        margin: 1em;
        padding: 1em;
    }
        
    h4 {
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto 4rem;
    }
        
    h5 {
        font-size: 1rem;
    }

    .project-1, .project-2, .project-3, .project-4 {
        background-color: unset;
        border: 1px solid var(--bubble-gum-pink);
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        margin-bottom: 2em;
        max-width: 80%;
        align-items: center;
    }

    .project-description, .about-description, .contact-description, .skills {
        font-size: 1rem;
    }

    .about-section h4 {
        box-shadow: 10px -10px 0 -7px var(--tangerine-orange);
    }

    .about-description span {
        padding-bottom: 3em;
        box-shadow: -10px 10px 0 -7px var(--tangerine-orange);
    }

    .about-description {
        margin-left: 1em;
        margin-right: 1em;
    }

    .contact-section h4 span {
        box-shadow: -10px -10px 0 -7px var(--tangerine-orange);
    }

    .end-icon {
        box-shadow: 10px 10px 0 -7px var(--tangerine-orange);
        
    }

    .email-btn {
        font-size: 1rem;
        padding: 0.5rem;
    }

    footer p {
        margin-top: 2em;
    }

    footer {
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 1em;
    }
}

@media screen and (min-width: 567px) and (max-width: 768px) {
    body {
        margin-bottom: 0;
    }

    .navbar-toggler {
        width: 2em;
        height: 1.8em;
        padding: 0;
        border-radius: 0.01;
    }

    h1 .icon {
        box-shadow: -10px -10px 0 -7px var(--tangerine-orange);
    }

    h1 {
        font-size: 1.4rem;
        margin: 5em 3em 1em;
    }
    
    h2 {
        font-size: 3.5rem;
        margin: 0 0.5em 1em;
    }

    h3 {
        font-size: 1.4rem;
        margin: -0.5em 3em 3.5em;
        box-shadow: 10px 10px 0 -7px var(--tangerine-orange);
        margin-bottom: 0;
    }

    .contact-link, .about-link {
        font-size: 1rem;
        padding: 0.3em;
        margin-bottom: 2em;
        }
        
        
    .projects-section, .about-section, .contact-section {
        margin: 1em;
        padding: 1em;
    }
        
    h4 {
    padding: 0.5rem;
    font-size: 1.8rem;
    margin: 0 auto 3rem;
    }
        
    h5 {
        font-size: 1.5rem;
    }

    .project-1, .project-2, .project-3, .project-4 {
        background-color: unset;
        border: 1px solid var(--bubble-gum-pink);
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        max-width: 80%;
        align-items: center;
    }

    .app-descr {
        max-width: 450px;
        min-width: 400px;
    }
    
    .weather-app-img {
        max-width: 400px;
        height: 18em;
        margin-bottom: 1em;
    }
    
    .mortgage-cal-img {
        max-width: 400px;
        height: 18em;
    }
    
    .dessert-shopping-cart-img {
        max-width: 400px;
        height: 18em;
    }

    .bento-display-img {
        max-width: 400px;
        height: 18em;
    }

    .project-description, .about-description, .contact-description, .skills {
        font-size: 1rem;
    }

    .about-section {
        margin-bottom: 5em;
    }

    .about-section h4 {
        box-shadow: 10px -10px 0 -7px var(--tangerine-orange);
    }

    .about-description span {
        padding-bottom: 3em;
        box-shadow: -10px 10px 0 -7px var(--tangerine-orange);
    }

    .about-description {
        margin-left: 1em;
        margin-right: 1em;
    }

    .contact-section h4 span {
        box-shadow: -10px -10px 0 -7px var(--tangerine-orange);
    }

    .end-icon {
        box-shadow: 10px 10px 0 -7px var(--tangerine-orange);
        
    }

    .email-btn {
        font-size: 1rem;
        padding: 0.5rem;
    }

    footer p {
        margin-top: 2em;
    }

    footer {
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 2em;
        margin: 10rem 6rem 1rem;
    }
    
    h2 {
        font-size: 4.5rem;
        padding: 0 0.5em;
    }
    
    h3 {
        font-size: 2em;
        margin: 1em 3em 2em 0;
    }
    
    .projects {
    display: grid;
    gap: 3em;
    justify-self: center;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "p1 p2"
    "p3 p4";
    max-width: 1000px;
    margin: 0;
    }

    .app-descr {
        max-width: 400px;
        min-width: 320px;
    }
    
    .weather-app-img {
        max-width: 300px;
        margin-bottom: 1em;
    }
    
    .mortgage-cal-img {
        max-width: 300px;
    }
    
    .dessert-shopping-cart-img {
        max-width: 300px;
    }

    .bento-display-img {
        max-width: 300px;
    }
    
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    h1 {
        font-size: 2.3em;
        margin: 10rem 5rem 1rem;
    }
    
    h2 {
        font-size: 6rem;
        padding: 0 0.5em;
    }
    
    h3 {
        font-size: 2.3em;
        margin: 1em 2em 2em 0;
    }
    
    .projects {
    display: grid;
    gap: 2em;
    justify-self: center;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "p1 p2 p3"
    "p4 p4 p4";
    max-width: 1300px;
    margin: 0;
    }

    .app-descr {
        max-width: 250px;
    }
    
    .weather-app-img {
        max-width: 240px;
    }
    
    .mortgage-cal-img {
        max-width: 240px;
    }
    
    .dessert-shopping-cart-img {
        max-width: 240px;
    }

    .bento-display-img {
        max-width: 240px;
    }
    
}